/* Styles pour le spinner de chargement */
#loading-spinner {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);
}

#loading-spinner div {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Styles pour l'overlay */
#overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Styles pour le conteneur de la carte */
#map-container {
    position: relative;  /* Permet aux enfants absolus de se positionner par rapport à ce conteneur */
    width: 100%;         /* Ajustez ces valeurs en fonction de vos besoins */
    height: 800px;       /* Ajustez ces valeurs en fonction de vos besoins */
}

/* Styles pour la carte elle-même */
#map {
    width: 100%;
    height: 100%;
}

#form-container {
  display: flex;
  justify-content: space-around;
  background-color: #acceec;
}

#search-form-strava,
#search-form-paruvendu,
#search-form-finishers{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-inline: 50px;
  margin-bottom: 10px;
}

body{

}